@import '../Login/mixin.scss';
.parent12 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px 0px 15px 100px;
    }
    
    .div1 { grid-area: 1 / 1 / 4 / 2; }
    .div2 { grid-area: 1 / 2 / 4 / 4; }
    .div3 { grid-area: 1 / 4 / 4 / 5; }
    .div4 { grid-area: 1 / 9 / 4 / 9; }
    .div5 { grid-area: 1 / 10/ 4 / 10; }

    hr {
        position: absolute;
        border-style: ridge;
        width: 90%;
        right: 5%;
    }
    .form-deadline {
        font-size: 20px;
    }
    .form-projectName {
        font-size: 20px;
    }

   #iconNBP{
       position: relative;
       margin-top: -10px;
   } 


#lds{
    display: none;
}

.lds-wrapper{
    position: absolute;
    background-color: rgb(207, 161, 161);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.lds-dual-ring {
    position: absolute;
    display: block;
    left: 45%;
    top: 45%;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 8px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
