@import "../Login/mixin.scss";

.status-iac {
    position: absolute;
    margin-top: 1px;
    margin-left: 63px;
    // right: 132px;
    // top:15px;
    font-size: 12px;
    font-weight: bold;
}
.status-ac {
    position: absolute;
    margin-top: 15px;
    margin-left: 13px;
    // right: 190px;
    // top:30px;
    font-size: 12px;
    font-weight: bold;
}
  
  .toggle {
    position: absolute;
    margin-left: 20px;
    width: 90px;
    // background-color: blue;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  [type="checkbox"] {
    display: none;
  }
  
  .check-label {
    display: block;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3rem;
    background: #d7d7d7;
    cursor: pointer;
    overflow: hidden;
    .face {
      display: block;
      position: absolute;
      content: '';
      top: -0.2rem;
      bottom: 0;
      right: 3.0rem;
      width: 2.5rem;
      height: 2.5rem;
      margin: 0;
      border: none;
      border-radius: 3rem;
      background: -webkit-linear-gradient(45deg, #dedede 0%, #fff 70%);
      background: -o-linear-gradient(45deg, #dedede 0%, #fff 70%);
      background: linear-gradient(45deg, #dedede 0%, #fff 70%);
      -webkit-transition: all 0.45s ease-in-out;
      -o-transition: all 0.45s ease-in-out;
      transition: all 0.45s ease-in-out;
      overflow: hidden;
    }
  }
  
  [type="checkbox"] {
    + .check-label #background {
      width: inherit;
      height: inherit;
      border: none;
      border-radius: inherit;
      background: -webkit-gradient(linear, right top, left top, from(#2ec748), to(#71f158));
      background: -webkit-linear-gradient(right, #2ec748, #71f158);
      background: -o-linear-gradient(right, #2ec748, #71f158);
      background: linear-gradient(to left, #2ec748, #71f158);
      opacity: 0;
      -webkit-transition: all 0.45s ease-in-out;
      -o-transition: all 0.45s ease-in-out;
      transition: all 0.45s ease-in-out;
    }
    &:checked + .check-label #background {
      opacity: 1;
    }
  }
  
  .face-container {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .face {
    -webkit-box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  }
  
  .eye {
    position: absolute;
    top: 1.25rem;
    height: 0.25rem;
    width: 0.625rem;
    background: #8e8e8e;
    border-radius: 0 0 100% 50%;
    &.left {
      left: 0.25rem;
    }
    &.right {
      left: 1.25rem;
    }
  }
  
  .mouth {
    position: absolute;
    top: 1.9rem;
    left: 0.9rem;
    width: 0.4rem;
    height: 0.2rem;
    background: #8e8e8e;
    border-radius: 40% 40% 100% 50%;
  }
  
  [type="checkbox"] {
    &:checked {
      + .check-label .face {
          top:-0.5rem;
          right: 1.2rem;
        .face-container {
          -webkit-animation: rotateElement forwards 0.3s;
          animation: rotateElement forwards 0.3s;
        }
        .eye {
          &.left, &.right {
            -webkit-animation: changeFace forwards 0.3s 0.075s;
            animation: changeFace forwards 0.3s 0.075s;
          }
        }
        .mouth {
          -webkit-animation: changeMouth forwards 0.3s 0.075s;
          animation: changeMouth forwards 0.3s 0.075s;
        }
      }
      + .check-label .face .eye {
        &.left {
          left:-0.2rem;
        }
        &.right {
          left: 0.8rem;
        }
      }
    }
    + .check-label .face {
      .face-container {
        -webkit-animation: rotateElementReverse forwards 0.3s;
        animation: rotateElementReverse forwards 0.3s;
      }
      .eye {
        &.left, &.right {
          -webkit-animation: changeFaceReverse forwards 0.3s;
          animation: changeFaceReverse forwards 0.3s;
        }
      }
      .mouth {
        -webkit-animation: changeMouthReverse forwards 0.3s;
        animation: changeMouthReverse forwards 0.3s;
      }
    }
  }
  
  @-webkit-keyframes rotateElement {
    0% { left: 0;}
    25% {left: 2rem; }
    30% {opacity: 0;}
    50% { opacity: 0;left: -4rem; }
    90% { opacity: 1; }
    100% {  left: 1rem; opacity: 1; }
  }
  
  @-webkit-keyframes changeFace {
    100% {
      top: 0.9rem;
      width: 0.375rem;
      height: 0.375rem;
      background: #8e8e8e;
      border: none;
      border-radius: 100%;
    }
  }

  @keyframes changeMouth {
    100% {
      top: 1.55rem;
      left: 0.125rem;
      height: 0.4rem;
      width: 0.8rem;
      background: #8e8e8e;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#8e8e8e), to(#a4a4a4));
      background-image: -webkit-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: -o-linear-gradient(top, #8e8e8e, #a4a4a4);
      background-image: linear-gradient(to bottom, #8e8e8e, #a4a4a4);
      border-radius: 0.2rem 0.2rem 1rem 1rem;
    }
  }
  
  
  @-webkit-keyframes rotateElementReverse {
    0% {left: 0;}
    25% {left: -2rem;}
    30% {opacity: 0;}
    50% {opacity: 0;left: 2rem;}
    90% {opacity: 1;}
    100% {left: 0; opacity: 1;}
  }
