// card
.form-card {
  position: relative;
  width: 266px;
  background-color:white;
  border-radius: 10px;
  margin-left: 12px;
  margin-top: 10px;
  padding: 10px 10px 3px 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
  overflow: hidden;
}
.opa-card h3{
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.opa-card .ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-des{
  white-space: pre-wrap;
}
.card-des.lock{
  max-height: 80px;
  overflow-y: scroll;
}
.card-des.hidden{
  height: 0px;
  overflow: hidden;
}
.lock::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-radius: 30px;
  // display: none;
}
.lock::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgb(219, 219, 219);
  scrollbar-width: thin;
  // display: none;
}
.card-checkbox{
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  outline: none;
  &:hover{
    border: 1px solid rgb(189, 189, 189);
  }
  cursor: pointer;
}
.btn-add-card {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
  position: relative;
  width: 290px;
  height: 30px;
  border-radius: 7px;
  border: none;
  outline: none;
  opacity: 0.5;
  // top:7px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  &:hover{
    background: rgb(238, 238, 238);
    transition: all .3s ease-in-out;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }
}

.wrapperC {
  margin-top: -5px;
  
}
.btn-remove-card {
  z-index: 2;
  // margin-top: -90px;
  // margin-top: -135%;
  position: relative;
  width: 20px;
  height: 20px;
  background-color:white;
  border: none;
  outline: none;
  opacity: 0.3;
  cursor: pointer;
  &:hover{
    opacity: 1;
    transition: all .3s ease-in-out;
  }
}
.btn-edit-card {
  z-index: 2;
  //  margin-top: -80px;
  // margin-top: -127%;
  width: 20px;
  height: 20px;
  position: relative;
  background-color:white;
  border: none;
  outline: none;
  opacity: 0.3;
  cursor: pointer;
  &:hover{
    opacity: 1;
    transition: all .3s ease-in-out;
  }
}
.opa-card .c-duedate{
  position: relative;
  height: 15px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffa51d;
  border-radius: 5px;
}
.opa-card .c-duedate.normal{
  color: $redFire;
  background-color: white;
}
.opa-card .c-duedate.late{
  color: #f3f3f3;
  background-color: #ff284b;
}

.show-assignee-container{
  position: relative;
  height: 49px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.show-assignee-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 30px;
  // display: none;
}
.show-assignee-container::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: $bluesky;
  scrollbar-width: thin;
  // display: none;
}
.show-assi-p{
  display: block;
}
.show-assi {
  position: relative;
  overflow: hidden;
  height: 35px;
  width: 35px;
  background-color: $bluesky;
  border-style: none;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  color: rgb(0, 0, 0);
  text-align: center;
}
.trans{
  background-color: transparent;
}
.show-preview-sel {
  width: 35px;
  height: 35px;
  top:0%;
  left: 0%;
  position: absolute;
  object-fit: cover;
  z-index: 3;
  opacity: 1;
  transition: all 0.25s ease;
}
.name-show-assi{
  margin-left: 2px;
  font-size: 12px;
  width: 51px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

hr{
  border: 0.5px solid rgb(199, 199, 199);
  opacity: 0.8;
  width: 98%;
  margin-left: 1%;
  margin-bottom: 5px;
}
  
.collapse-card-btn{
  margin-top: 5px;
  position: relative;
  width: 246px;
  height: 12px;
  background-color: rgb(241, 241, 241);
  color: rgb(185, 185, 185);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: rgb(230, 230, 230);
    }
  }
.blank-card-btn{
  position: relative;
  width: 246px;
  height: 7px;
}