// setting
.wrapperCbtn{
    top: 440px;
  }
  .setting-card {
    z-index: 2;
    position: absolute;
    width: 500px;
    min-height: 530px;
    // height: 450px;
    display: none;
    background-color:rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
    top:51.25%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .setting-card.show{
    display: block;
    // opacity: 1;
    // width: 500px;
    // height: 450px;
  }
  .show-index {
    width: 480px;
    height: 20px;
    background-color: rgb(209, 208, 208);
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
  }
  .contain-assign {
    position: relative;
    width: 480px;
    height: 60px;
    // background-color:$orange;
    border: 1px solid  rgb(194, 194, 194);
    border-radius: 15px;
    padding: 25px 10px 10px 10px;
    margin-bottom: 20px;
    top:-45px
  }
  #assign-scroll{

  }
  .div-1 {
    // margin-top:-100px;
  }
   
    //input project des date-----------------------
  .wrapperS {
    margin-top: 10px;
  }
  .float-l {
    float: left;
  }
  .flot-r {
    float: right;
  }

  .input-title {
    position: relative;
    width: 230px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid $colorFront;
    padding: 0 0 0 20px ;
    font-size: 15px;
  }
   .input-des {
    position: relative;
    border-radius: 20px;
    width: 230px;
    height: 185px;
    border: 1px solid $colorFront;
    padding: 10px 10px 10px 10px ;
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    // margin: 10px 0  0  0 ;
    // top:-10px
  }
  textarea {
    resize: vertical;
    // resize: none;
    min-height: 185px;
}
  .input-date {
    position: relative;
  }
  .input-as {
    position: relative;
    width: 170px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid $colorFront;
    background-color: white;
    padding: 0 0 0 20px ;
    font-size: 15px;
    // margin: 10px 0  0  30px ;
    // box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
  }
  .btn-as-ok {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: white;
    background: $redFire;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    outline: 0;
    bottom: -5px;
    right: 200px;
    border: none;
    box-shadow: 2px 2px 10px rgba($dark, .5);
    transition: all .5s ease-in-out;
    &:hover {
      background: darken($white, 5%);
      transform: scale(1.05);
      transition: all .3s ease-in-out;
    }
    }
    #assign {
    -ms-appearance: none;
    }

    .contain-btn-setting {
      position: relative;
      top:130px
    }
  .btn-setting-accept {
    cursor: pointer;
    position: relative;
    background: $bluesky;
    font-size: 17px;
    color: white;
    width: 25%;
    height:35px;
    border-radius: 20px;
    // top: 90%;
    left: 20%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba($dark, .5);
    transition: all .5s ease-in-out;
    &:hover {
      background: darken($white, 5%);
      transform: scale(1.05);
      transition: all .3s ease-in-out;
    }
  }
  .btn-setting-cancel {
    cursor: pointer;
    position: relative;
    background: $redFire;
    color: white;
    font-size: 17px;
    width: 25%;
    height:35px;
    border-radius: 20px;
    // top: 90%;
    left: 30%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba($dark, .5);
    transition: all .5s ease-in-out;
    &:hover {
      background: darken($white, 5%);
      transform: scale(1.05);
      transition: all .3s ease-in-out;
    }
  }
  
  //style date---------------------------------------------
  // Removes  clear button 
  input[type="date"]::-webkit-clear-button {
    display: none;
  }
  // Removes  spin button 
  input[type="date"]::-webkit-inner-spin-button { 
    display: none;
  }
  
  // Always display the drop down caret 
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.1;
    cursor: pointer;
  }
  // styles  date inputs 
  input[type="date"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    border-radius: 15px;
    width: 170px;
    height: 50px;
    border: 1px solid $colorFront;
    padding: 0 30px 0 30px ;
    font-size: 15px;
    // margin: 10px 0  0  30px ;
    top:-52px;
    color: rgb(122, 122, 122);
  }
  input[type="date"]{
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  85% 50% no-repeat ;
  
}
  // style
  .contain-selector {
    position: absolute;
  }
  select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // -ms-appearance: none;
    // appearance: none;
    outline: none;
    border-style: none; 
    border-radius: 15px;
    outline: 0;
    box-shadow: none;
    background: $redFire;
    width: 232px;
    height: 60px;
    // padding-left: 20px;
    font-size: 20px;
    // margin: 15px 0  0  20px ;
    
  }
  //style select option-------------------------
  // /* Remove IE arrow 
    select::-ms-expand {
      display: none;
    }
  
    select {
      flex: 1;
      padding: 10px 10px 10px 20px;
      color: #fff;
      cursor: pointer;
      top:-20px
    }
  .status {
    position: relative;
    top:-220px
  }


//   select:focus {
//     min-width: 100px;
//     width: auto;
    
// }
  #assignS {
    // position: relative;
    // margin-top: -30px;
  }



  

.dropbtn-assi {
  height: 35px;
  width: 220px;
  background-color: $redFire;
  border-style: none;
  z-index: 2;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  color: white;
}

.dropdown-content-assi {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #ebebeb;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 15px;
  top: 80px;
  right: 270px;
  // margin-right: 13.5%;
  overflow-y:auto;
  scrollbar-width: thin;
  word-wrap: break-word;
}
.dropdown-content-assi.showAs{
  display: block;
}
#dd-content-assi::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}
#dd-content-assi::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgb(172, 171, 171);
}
.dropdown-content-assi a {
  position: relative;
  color:$dark;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer; &:hover{
    background-color: rgb(202, 199, 199);
    color: white;
  }
}
