/* Rating */
.rating{
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
.rating.large li{
	width: 30px;
	height: 30px;
	border-radius: 100%;
}
.rating.small li{
	width: 12px;
	height: 12px;
	border-radius: 100%;
}
.rating li{
	z-index: 3;
	text-align: center;
	float: right;
	cursor: pointer;
	color: white;
	margin-right: 5px;

	/* Transitions */
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.rating li:hover,
.rating li:hover ~ li{
	background:rgb(255, 127, 138) !important;
}

.fill-s{
	background: rgba(244, 91, 105, 1);
}
.rating:hover .fill-s{
	background: white;
}
.fill-w{
	background: white;
}
.contain-vote {
  z-index: 2;
  position: relative;
  background-color:$pinkk;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 30px;
  padding-bottom: 28px;
  border-radius: 15px;
  // float: left;
//   left:53%;
//   top:44%;
  text-align: center;
  top:-302px;
  color: rgb(156, 154, 154);
  overflow: hidden;
}


.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(5deg)
}

.card-ghost-drop{
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg)
}