@import '@/components/Login/mixin.scss';
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$pinkk :#FFCFD2;
$orange: #f7a79d;
$bluesky : #a6d4d8; 
$colorFront : #707070;
$fontAsap: 'Asap', sans-serif;

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;

.form-BoardBG  { 
  width: 100%;
  height: 100%; 
  background: rgb(252,208,211);
  background: linear-gradient(180deg, rgba(252,208,211,1) 0%, rgba(183,244,255,1) 100%);
  // margin-top: 1.5%;
  position:fixed;
}
.contain-BGball {
  position: relative;
  float: left;
  opacity:0.5;
  width: 30%;
  // height: 30%;
  border-radius: 100%;
  padding-top: 30%;
  margin: 0 0 0 -8%; 
  bottom: -70%;
  left: 10%;
}
.div-1-BG-ball {
  background-color:$pinkk;
}
.div-2-BG-ball {
  background-color:$bluesky; 
}
.div-3-BG-ball {
  background-color:$redFire;
  opacity:0.3;
}
.div-4-BG-ball {
  background-color:$orange;
}
  

