$bluesky : #a6d4d8; 
$colorFront : #707070;
$redFire: rgba(244, 91, 105, 1);
  
  #chatBox {
    height: 500px;
    max-width: 400px;
    overflow-y: scroll;
  }
  .chat-item {
    border: none;
  }
  .chat-status {
    min-height: 49px;
  }
  .chat-status .chat-date {
    display: block;
    font-size: 10px;
    font-style: italic;
    color: #999;
    height: 15px;
    left: 10%;
    right:10%;
  }
  .chat-status .chat-content-center {
    padding: 5px 10px;
    background-color: #e1e1f7;
    border-radius: 6px;
    font-size: 12px;
    color: #555;
    height: 34px;
    left: 10%;
    right:10%;
  }
  .chat-message {
    width: 80%;
    min-height: 40px;
  }
  .chat-message .right-bubble {
    position: relative;
    background: #dcf8c6;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 15%;
  }
  .chat-message .right-bubble span.msg-name {
    font-size: 12px;
    font-weight: bold;
    color: green;
    display: block;
  }
  .chat-message .right-bubble span.msg-date {
    font-size: 10px;
    display: block;
  }
  .chat-message .right-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-left-color: #dcf8c6;
    border-right: 0;
    border-top: 0;
    margin-top: -0.5px;
    margin-right: -27px;
  }
  .chat-message .left-bubble {
    position: relative;
    background: #efefef;
    border-top-right-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 5%;
  }
  .chat-message .left-bubble span.msg-name {
    font-size: 12px;
    font-weight: bold;
    color: blue;
    display: block;
  }
  .chat-message .left-bubble span.msg-date {
    font-size: 10px;
    display: block;
  }
  .chat-message .left-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-right-color: #efefef;
    border-left: 0;
    border-top: 0;
    margin-top: -0.5px;
    margin-left: -27px;
  }
  footer.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-top: solid 1px #efefef;
  }

  .dropdown-content-chat {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
  width: 400px;
  height: 600px;
  right: 15%;
  }

  .dropdown-content-chat-margin {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
  }

  .msg-box{
    border-radius: 10px;
    border: 1px solid rgb(91, 95, 85);
    padding-left: 5px;
    padding-top: 5px;
    width: 200px;
    height: 50px;
  }

  .msg-border-left{
    left: 55px;
    position: absolute;
    // background-color: #2ce6ae;
  }

   .msg-border-right{
    right: 55px;
    position: absolute;
    // background-color: #e6da2c;
  }

  .relative-msg-border{
    // background-color: #e62ca8;
    position: relative;
    width: 360px;
    height: 93px;
    margin-bottom: 15px;
  }

  .align-left{
    // background-color: #e62c2c;
    float: left;
  }
  .align-right{
    // background-color: #2c92e6;
    float: right;
  }

  .user-profile-left {
    position: absolute;
    background-color:#a6d4d8;
    border-radius: 70px;
    width: 50px;
    height: 50px;
    border-style: none;
    left: 0px;
  }

  .user-profile-right {
    position: absolute;
    background-color:#d8a6d5;
    border-radius: 70px;
    width: 50px;
    height: 50px;
    border-style: none;
    right: 0px;
  }

  .input-box-msg {
    position: relative;
    width: 345px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid $colorFront;
    background-color:#DEE2E2;
    padding: 0 0 0 20px ;
    font-size: 15px;
  }

  .msg-send-btn{
    position: absolute;
    background-color: $redFire;
    border-radius: 70px;
    width: 45px;
    height: 45px;
    border-style: none;
    right: 30px;
    bottom: 15px;
  }