$bluesky : #a6d4d8; 
$colorFront : #707070;
$redFire: rgba(244, 91, 105, 1);
$blueQueen: rgba(69, 105, 144, 1);
  
  #chatBox {
    height: 480px;
    max-width: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }  
  
  #chatBox::-webkit-scrollbar
  { 
    width: 12px;
    // background-color:$bluesky;
    border-radius: 30px;
    display: block
  }  
  #chatBox::-webkit-scrollbar-thumb
  {
    border-radius: 30px;
    background-color: #DEE2E2;
    scrollbar-width: thin;
    display: block
  }
  
  .dropdown-content-chat {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
  width: 400px;
  height: 610px;
  right: 15%;
  }

  .dropdown-content-chat-margin {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
  }

  .msg-box{
    border-radius: 8px;
    border: 1px solid rgb(175, 175, 175);
    max-width: 200px;
    word-wrap: break-word;
  }

  .msg-msg{
    margin: 5px 5px 5px 5px;
    white-space: pre-wrap
  }

  .msg-border-left{
    left: 55px;
  }

   .msg-border-right{
    right: 55px;
  }

  .relative-msg-border{
    // background-color: #e62ca8;
    width: 360px;
    min-height: 60px;
    margin-bottom: 5px;
  }

  .relative-msg-border::after {
    content: "";
    clear: both;
    display: table;
  }

  .align-left{
    // background-color: #e62c2c;
    float: left;
  }
  .align-right{
    // background-color: #2c92e6;
    float: right;
  }

  .margin-left{
    margin-left: 5px;
  }

  .margin-right{
    margin-right: 5px;
  }

  .user-profile-left {
    background-color:#a6d4d8;
    border-radius: 70px;
    width: 50px;
    height: 50px;
    border-style: none;
    float: left;
  }

  .user-profile-right {
    background-color:#d8a6d5;
    border-radius: 70px;
    width: 50px;
    height: 50px;
    border-style: none;
    float: right;
  }

  .input-box-msg {
    position: absolute;
    left: 5px;
    top: 8px;
    width: 355px;
    height: 50px;
    border: #DEE2E2;
    background-color:#DEE2E2;
    font-size: 15px;
    outline: none;
    resize: none;
  }  
  #input-msg::-webkit-scrollbar
  { 
    width: 12px;
    // background-color:$bluesky;
    border-radius: 30px;
    display: none
  }  
  #input-msg::-webkit-scrollbar-thumb
  {
    border-radius: 30px;
    background-color: $bluesky;
    scrollbar-width: thin;
    display: none
  }

  .input-box-msg-wrapper {
    position: relative;
    border-radius: 10px;
    border: 1px solid $colorFront;
    background-color:#DEE2E2;
    width: 368px;
    height: 70px;
    outline: none;
    margin-top: 3px;
  }

  .btn-wrapper{
    position: relative;
    // background-color: $bluesky;
    width: 368px;
    height: 20px;
    margin-top: 10px;
  }

  .msg-send-btn{
    position: absolute;
    background-color: $redFire;
    border-radius: 15px;
    width: 65px;
    height: 20px;
    border-style: none;
    right: 0px;
    // bottom: 80px;
  }

  .msg-send-msg{
    position: absolute;
    border-style: none;
    right: 70px;
    bottom: 0px;
    font-size: 12px;
    color: $blueQueen;
    // text-decoration: underline;
  }

  .scroll-down{
    position: absolute;
    background-color: #DEE2E2;
    border-radius: 15px;
    width: 65px;
    height: 20px;
    border-style: none;
    left: 0px;
    // bottom: 80px;
  }