@import '@/components/Login/mixin.scss';
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$pinkk :#FFCFD2;
$orange: #f7a79d;
$bluesky : #a6d4d8; 
$fontAsap: 'Asap', sans-serif;




.parentBG {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
 
  .div1-BG { grid-area: 2 / 2 / 50 / 50; }

 //bg  
  .contain-bg {
    position: relative;
    width: 100%;
    // background-color:$orange;
    border-radius: 15px;
    height: 820px;  
  }
  .contain-pic-bghome {
    position: relative;
  }
  .bghome {
  
    position: absolute;
    border-radius: 15px;
    width: 95%;
    top: -130px;
    left: 100px;
  }

  .from-createBoard {
    position: relative;
    padding: 30px;
  }


//scroll bar board
  .form-scroll-createBoard {
    position: static;
    width: 50%;
    height: 80%;
    border-radius: 20px;
    //  background-color: red;
    overflow-y: scroll;
    scrollbar-width: thin;
    left: 50px;
    top: 30px;
  }
  #board-scroll::-webkit-scrollbar
  { 
    width: 12px;
    // background-color:$bluesky;
    border-radius: 30px;
    display: none
  }
  #board-scroll::-webkit-scrollbar-thumb
  {
    border-radius: 30px;
    background-color: $blueQueen;
    scrollbar-width: thin;
    display: none
    
  }


//project setting

//project setting

.parent-project {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // width: 100%;
  // background-color: yellow;
}
.div1-pj { grid-area: 2 / 8 / 10 / 8;
  // width: 100%;
  // background-color: darkgreen;
 }
//+//-------------------------------------------------------------------
.dropdown {
  display: inline-block;
  position: relative;
}
.dd-button {
  text-align: center;
  display: inline-block;
  position: fixed ;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-style: none;
  background-color: $redFire;
  font-size: 80px;
  color: white;
  margin-top: 20px;
  &:hover {
    background: $bluesky;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
  
}
// .dd-button:hover {
//   // animation-name: random-color;
//   animation-duration:5s;
// }
// @keyframes random-color {
//   0%   {background-color:$greenSeaweed; }
//   25%  {background-color:$blueQueen; }
//   50%  {background-color:$redFire; }
//   75%  {background-color:$pinkk; }
//   100% {background-color:$bluesky; }
  
// }
//invite//------------------------------------------------------------
.container-setting {
  width: 410px;
  height: 270px;
  border-radius: 20px;
  background-color:white;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 20px;
}

  #style-scroll::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 30px;
    display: none;
  }
  #style-scroll::-webkit-scrollbar-thumb
  {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
    display: none;
  }


.parent-setting {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100%;
// background-color: purple;
padding:  0 0  20px 0;
}

.div1-s { grid-area: 1 / 1 / 1 / 2; width: 100%;
  // background-color: aquamarine;
}
.div2-s { grid-area: 2 / 1 / 2 / 1; width: 100%;
  //  background-color:wheat;
}
.div3-s { grid-area: 3 / 1 / 3 / 2;width: 100%;
  
  //  background-color: gold; 
}
.div4-s { grid-area: 1 / 2 / 3 / 2 ;width: 100%;
  height: 120%;
  //  background-color: rgb(21, 192, 214) ; 
}
/*.div5-s { grid-area: 2 / 2 / 2 / 3; }
.div6-s { grid-area: 3 / 2 / 2 / 3; }*/

.input-box-setting-pid {
  border-radius: 20px;
  width: 180px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid $colorFront;
  padding: 0 0 0 20px ;
  font-size: 15px;
}
 .input-box-setting-des {
  border-radius: 20px;
  width: 180px;
  height: 100px;
  border: 1px solid $colorFront;
  padding: 0 0 0 20px ;
  font-size: 15px;
  margin: 20px 0  0  0 ;
}

.input-box-setting-inv {
  border-radius: 20px;
  width: 160px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid $colorFront;
  padding: 0 0 0 20px ;
  margin: 20px 0  0  30px ;
  font-size: 15px;
}
.btn-invite-ok {
  position: relative;
  font-size: 20px;
  color: white;
  background: $redFire;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  outline: 0;
  bottom: -20px;
  left: 45%;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
  }
.btn-setting-accept {
  position: relative;
  background: $bluesky;
  font-size: 17px;
  color: white;
  width: 25%;
  height:35px;
  border-radius: 20px;
  top: 73%;
  left: 52%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}
.btn-setting-cancel {
  background: $redFire;
  color: white;
  font-size: 17px;
  width: 25%;
  height:35px;
  border-radius: 20px;
  top: 73%;
  left: 48%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}
// Removes  clear button 
input[type="date"]::-webkit-clear-button {
  display: none;
}

// Removes  spin button 
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

// Always display the drop down caret 
input[type="date"]::-webkit-calendar-picker-indicator {
  color:$colorFront;
  font-size: 20px;
  padding: 0 30px 0 0 ;
 
}

// styles  date inputs 
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
  border-radius: 30px;
  width: 180px;
  height: 50px;
  border: 1px solid $colorFront;
  padding: 0 0 0 20px ;
  font-size: 15px;
  margin: 20px 0  0  0 ;
}
// style
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-style: none; ;
  border-radius: 20px;
  outline: 0;
  box-shadow: none;
  background: $redFire;
  width: 180px;
  height: 50px;
  padding: 0 0 0 20px ;
  font-size: 15px;
  margin: 20px 0  0  30px ;
}
// /* Remove IE arrow 
select::-ms-expand {
  display: none;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

.dd-menu {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0;
  margin-top: 150px ;
  margin-left: -160px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  
  background-color: white;
  list-style-type: none;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}


//create/----------------------------------------------------------------
.parent-create {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1-c { grid-area: 3 / 1 / 7 / 3; }
  .div2-c { grid-area: 8 / 1 / 12 / 3; }
  .div3-c { grid-area: 3 / 4 / 7 / 6; }
  .div4-c { grid-area: 8 / 4 / 12 / 6; }


  .form-container2 {
    position: fixed;
    /*overflow-y: scroll;
    scrollbar-width: thin;
    padding: 20px;*/
  }
  
  #list-scroll::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 30px;
  }
  #list-scroll::-webkit-scrollbar-thumb
  {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }


  .projectBoardStyle {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color:yellow;
  }


  
    .btnProject {
      position: absolute;
    }
  .btnProjectDelete {
    position: absolute;
    margin-left: 70px;
  }



 
  

  #container-Board {
    position: absolute;
    margin: auto;
    overflow: hidden;
    width: 290px;
    height: 260px;
    background-color:white;
    border-radius: 15px;
  }
  
  p {
    margin-top: -5px;
    font-size: 15px;
    font-weight: 100;
    color: darken($dark, 10%);
    letter-spacing: 1px;
  }
 
  .face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: $white;
    border-radius: 50%;
    border: 1px solid $dark;
    top: 10%;
    left: 37.5%;
    z-index: 2;
    animation: bounce 1s ease-in infinite;
  }
  
  .eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: $dark;
    border-radius: 50%;
    top: 40%;
    left: 20%;
  }
  
  .right {
    left: 68%;
  }
  
  .mouth {
    position:absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }
  
  .happy {
    border: 2px solid;
    border-color: transparent $dark $dark transparent;
    transform: rotate(45deg);
  }
  shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: .5;
    background: $dark;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 1;
  }
  
  .scale {
    animation: scale 1s ease-in infinite;
  }
  .move {
    animation: move 3s ease-in-out infinite;
  }
  .show-message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 35%;
  }
  
  .button-box {
    position: absolute;
    background: $bluesky;
    width: 25%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 20%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba($dark, .5);
    transition: all .5s ease-in-out;
    &:hover {
      background: darken($white, 5%);
      transform: scale(1.05);
      transition: all .3s ease-in-out;
    }
  }
  
  .button-boxc {
    position: absolute;
    background: $bluesky;
    width: 25%;
    height: 15%;
    border-radius: 20px;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba($dark, .5);
    transition: all .5s ease-in-out;
    &:hover {
      background: darken($white, 5%);
      transform: scale(1.05);
      transition: all .3s ease-in-out;
    }
  }

  .button-box1 {
    position: absolute;
    background: $orange;
    width: 25%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 55%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba($dark, .5);
    transition: all .5s ease-in-out;
    &:hover {
      background: darken($white, 5%);
      transform: scale(1.05);
      transition: all .3s ease-in-out;
    }
  }
  @keyframes bounce {50% { transform: translateY(-10px);}}
  
  @keyframes scale {50% {transform: scale(0.9); } }
  

  @keyframes move {
    0% {
      left: 25%;
    }
    50% {
      left: 60%;
    }
    100% {
      left: 25%;
    }
  }
  
 














/*-------------------------------------
  
  -------------------------
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  
    .form-BoardBG  { 
        width: 100%;
        height: 100%; 
        background: rgb(252,208,211);
        background: linear-gradient(180deg, rgba(252,208,211,1) 0%, rgba(175,216,224,1) 100%);
        margin-top: 1.5%;
        position:fixed;
    }
    .dotBG1 ,.dotBG2 ,.dotBG3, .dotBG4 {
      position: absolute;
      height: 664px;
      width: 671px;
      border-radius: 50%;
      display: inline-table;
    }
    .dotBG1 {
      background-color: rgb(247, 218, 220);
      opacity: 50%;
      left: 5%;
    }
    .dotBG2 {
      background-color:rgb(219, 233, 235);
      border-radius: 50%;
      opacity: 30%;
      left: 25%;
    }
    .dotBG3 {
      background-color: #EF4E6D;
      opacity: 10%;
      left: 45%;
    }
    .dotBG4 {
      background-color: #F6AF9D;
      opacity: 30%;
      left: 65%;
    }
   .form-container {
      position: relative;
      text-align:center;
     top: 50%;
     left: -2.5%;
   }
  
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .form-BoardBG  { 
    width: 100%;
    height: 100%; 
    background: rgb(252,208,211);
    background: linear-gradient(180deg, rgba(252,208,211,1) 0%, rgba(175,216,224,1) 100%);
    margin-top: 1.5%;
    position:fixed;
}
.dotBG1 ,.dotBG2 ,.dotBG3, .dotBG4 {
  position: absolute;
  height: 664px;
  width: 671px;
  border-radius: 50%;
  display: inline-table;
}
.dotBG1 {
  background-color: rgb(247, 218, 220);
  opacity: 50%;
  left: 5%;
}
.dotBG2 {
  background-color:rgb(219, 233, 235);
  border-radius: 50%;
  opacity: 30%;
  left: 25%;
}
.dotBG3 {
  background-color: #EF4E6D;
  opacity: 10%;
  left: 45%;
}
.dotBG4 {
  background-color: #F6AF9D;
  opacity: 30%;
  left: 65%;
}
.form-container {
  position: relative;
  text-align:center;
 top: 50%;
 left: -2.5%;
}
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .form-BoardBG  { 
    width: 100%;
    height: 100%; 
    background: rgb(252,208,211);
    background: linear-gradient(180deg, rgba(252,208,211,1) 0%, rgba(175,216,224,1) 100%);
    margin-top: 1.75%;
    position:fixed;
}
.dotBG1 ,.dotBG2 ,.dotBG3, .dotBG4 {
  position: absolute;
  height: 664px;
  width: 671px;
  border-radius: 50%;
  display: inline-table;
}
.dotBG1 {
  background-color: rgb(247, 218, 220);
  opacity: 50%;
  left: 5%;
}
.dotBG2 {
  background-color:rgb(219, 233, 235);
  border-radius: 50%;
  opacity: 30%;
  left: 25%;
}
.dotBG3 {
  background-color: #EF4E6D;
  opacity: 10%;
  left: 45%;
}
.dotBG4 {
  background-color: #F6AF9D;
  opacity: 30%;
  left: 65%;
}
.form-container {
  position: relative;
  text-align:center;
 top: 50%;
 left: -2.5%;
}
  
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
//ipad
@media (min-width: 768px) and (max-width: 1024px) {
  
  .form-BoardBG  { 
    width: 100%;
    height: 100%; 
    background: rgb(252,208,211);
    background: linear-gradient(180deg, rgba(252,208,211,1) 0%, rgba(175,216,224,1) 100%);
    margin-top: 2%;
    position:fixed;
}
.dotBG1 ,.dotBG2 ,.dotBG3, .dotBG4 {
  position: absolute;
  height: 664px;
  width: 671px;
  border-radius: 50%;
  display: inline-table;
}
.dotBG1 {
  background-color: rgb(247, 218, 220);
  opacity: 50%;
  left: 5%;
}
.dotBG2 {
  background-color:rgb(219, 233, 235);
  border-radius: 50%;
  opacity: 30%;
  left: 25%;
}
.dotBG3 {
  background-color: #EF4E6D;
  opacity: 10%;
  left: 45%;
}
.dotBG4 {
  background-color: #F6AF9D;
  opacity: 30%;
  left: 65%;
}
.form-container {
  position: relative;
  text-align:center;
 top: 50%;
 left: -2.5%;
}
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 100px) and (max-width: 767px) {
  
  .form-BoardBG  { 
    width: 100%;
    height: 100%; 
    background: rgb(252,208,211);
    background: linear-gradient(180deg, rgba(252,208,211,1) 0%, rgba(175,216,224,1) 100%);
    margin-top: 2%;
    position:fixed;
}
.dotBG1 ,.dotBG2 ,.dotBG3, .dotBG4 {
  position: absolute;
  height: 664px;
  width: 671px;
  border-radius: 50%;
  display: inline-table;
}
.dotBG1 {
  background-color: rgb(247, 218, 220);
  opacity: 50%;
  left: 5%;
}
.dotBG2 {
  background-color:rgb(219, 233, 235);
  border-radius: 50%;
  opacity: 30%;
  left: 25%;
}
.dotBG3 {
  background-color: #EF4E6D;
  opacity: 10%;
  left: 45%;
}
.dotBG4 {
  background-color: #F6AF9D;
  opacity: 30%;
  left: 65%;
}
.form-container {
  position: relative;
  text-align:center;
 top: 50%;
 left: -2.5%;
}
}

// /* 
//   ##Device = Low Resolution Tablets, Mobiles (Landscape)
//   ##Screen = B/w 481px to 767px
// */

// @media (min-width: 481px) and (max-width: 767px) {
  
//   //CSS
//   .contain-bg {
//     position: relative;
//     background-color:green;
//     border-radius: 15px;
//   }
//   .bghome {
//     position: relative;
//     width: 100%;
//     border-radius: 15px;
//     top: 5px
//   }
// }

// /* 
//   ##Device = Most of the Smartphones Mobiles (Portrait)
//   ##Screen = B/w 320px to 479px
// */

// @media (min-width: 320px) and (max-width: 480px) {
  
//   //CSS
//   .contain-bg {
//     position: relative;
//     background-color:gray;
//     border-radius: 15px;
//   }
//   .bghome {
//     position: relative;
//     width: 100%;
//     border-radius: 15px;
//     top: 5px
//   }
// }
  
