//forget
@import '@/components/Login/mixin.scss';
.form-popup {
    position: fixed;
    width: 30%;
    display: none;
    overflow: hidden;
    background-color:white;
    padding: 30px 10px 30px 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: 410px;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    &::before, &::after {
      content: '';
      position: absolute;
      width: 600px;
      height: 600px;
      border-top-left-radius: 40%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 40%;
      z-index: -1;
    }
   
    &::before {
      left: 40%;
      bottom: -130%;
      background-color: rgba($blueQueen, 0.15);
      animation: rotate 7000ms infinite linear;
    }
    
    &::after {
      left: 35%;
      bottom: -125%;
      background-color: rgba(white, 0.2);
      animation: rotate 9000ms infinite linear;
    }
    
  }
  .form-popup {
    max-width: 100%;
    height: auto !important;
    margin: -130px -225px auto;
}
.inputt-forget {
        font-family: $fontAsap;
        display: block;
        background: white;
        border-radius: 20px;
        width: 85%;
        height: 50px;
        border-radius: 40px;
        border: 1px solid $colorFront;
        padding: 0 0 0 20px ;
        margin: 5% 0 0 12% ;
        font-size: 15px;
}