@import "bourbon";
@import '@/components/Login/mixin.scss';
// @import '@/components/Login/acceptstyle.scss';
 @import '@/components/Login/forgetstyle.scss';
@import '@/components/Login/regisstyle.scss';
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$pinkk :#FFCFD2;
$orange: #f7a79d;
$bluesky : #a6d4d8; 
$colorFront : #707070;
$fontAsap: 'Asap', sans-serif;

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;
           
.background-login {
  height: 100%;
  width: 100%;
  background: rgb(223,168,183);
  background: linear-gradient(180deg, rgba(223,168,183,1) 0%, rgba(216,245,255,1) 100%);
  position: fixed;
}

.navbarLogin {
  list-style-type: none;
  height: 50px;
  margin: 0;
  padding:  7px;
  padding-left: 3%;
  font-size: 27px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 16px 32px -16px rgba(0,0,0,0.2);
}

.brand {
  float: left;
  display: block;
  color: $colorFront;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btnsignIn {
  position: relative;
  overflow: hidden;
  background-color:red;
  padding: 40px 30px 30px 30px;
  top: -10%;
  left: 62.25%;
  width: 200px;
  height: 20px;
}
//form-login
.logoInput {
  // position: absolute;
  color: $colorFront;
  font-size: 40px;
  margin: 5% 0 0 23% ;
}

.from-login  {
  // overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  width: 430px;
  height: 450px;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
  
}
.inputt-login {
  position: relative;
  font-family: $fontAsap;
  display: block;
  background: white;
  border-radius: 20px;
  width: 85%;
  height: 60px;
  border-radius: 40px;
  border: 1px solid $colorFront;
  padding: 0 0 0 20px ;
  margin: 0 0 15px 5% ;
  font-size: 15px;
}
button.btnSubmit-login {
  position: relative;
  background: $bluesky;
  font-size: 20px;
  color: white;
  width: 30%;
  height:50px;
  border-radius: 20px;
  // top: 70px;
  // left: 0%;
  margin: 5% 0 0 33%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }

  
}

// form-forget
.psw {
  position: relative;
  // background-color: red;
  margin-left: 7%;
  margin-bottom: 15px;
}
.pswL {
  margin: 2%;
  // background-color: yellow;
}
.btnF-singnIn {
  position: relative;
  //  grid-area: 2 / 9 / 3 / 10;
 
  background-color: white;
  width: 244px;
  height: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top:65px;
  left: -30px;
}
.btnF-singnUp {
  position: relative;
  // grid-area: 2 / 9 / 3 / 10;
  background-color: white;
  width: 244px;
  height: 39px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  left:216px;
  top:18px
  
}

.darker-btn{
  background-color: rgb(236, 236, 236);
}

.contain-btnUp-btnIn {
  position: absolute;
  width: 100%;
  // background-color:red;
   top:-20%
  
}
.btnF-singnIn p {
  margin: 0 0 0 30%;
  padding: 12px;
  font-size: 20px;
  color: $colorFront;

}
.btnF-singnUp p{
  margin: 0 0 0 30%;
  padding: 12px;
  font-size: 20px;
  color: $colorFront;

}
#alert-error-login {
  background-color: rgb(252, 199, 199);
  border: 1px solid #EF4E6D;
  color: #ff3d3d;
  width: 90%;
  margin: 15px 0 0 5% ;
  min-height: 20px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  word-wrap: break-word;
}

// loading
.lds-wrapper{
    position: absolute;
    background-color: rgb(207, 161, 161);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.lds-dual-ring {
    position: absolute;
    display: block;
    left: 45%;
    top: 45%;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 8px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// loading-form-forget
.pwd-wrapper{
  display: none;
    position: absolute;
    background-color: rgb(207, 161, 161);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

// form-contain
.contain-form-login {
  position: absolute;
  left:60%;
  top:30%
}
.contain-form-regis {
  position: absolute;
  left:60%;
  top:30%
}

// contain-logoball

// .contain-class-logoball {
//   position: absolute;
//   top: 50%;
//   width: 100%;
//   height: 100%;
//   padding-top: 10%;
//   background-color: rebeccapurple;
// }
.contain-logoball {
  position: relative;
  float: left;
  // opacity:0.5;
  width: 8%;
  height: 8%;
  border-radius: 100%;
  padding-top: 8%;
  margin: 300px 0 0 -2%; 
  
  left: 10%;
}
.div-0-cylinder {
  background-color: white;
  width: 3%;
  padding-top: 15%;
  border-radius: 30px;
  margin-right: 5%;
}
.div-1-ball {
  background-color:$pinkk;
}
.div-2-ball {
  background-color:$bluesky; 
}
.div-3-ball {
  background-color:$redFire;
}
.div-4-ball {
  background-color:$orange;
}
.logoName-ball {
  color: white;
  padding-top: 10%;
  border-radius: 30px;
  left: -7%;
  font-size: 50px;
}