@import "bourbon";
@import '@/components/Login/mixin.scss';
@import '@/components/Login/acceptstyle.scss';
@import '@/components/Login/forgetstyle.scss';
@import '@/components/Login/regisstyle.scss';
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$pinkk :#FFCFD2;
$orange: #f7a79d;
$bluesky : #a6d4d8; 
$colorFront : #707070;
$fontAsap: 'Asap', sans-serif;

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;

.mainGroup {
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(223,168,183);
  background: linear-gradient(180deg, rgba(223,168,183,1) 0%, rgba(216,245,255,1) 100%);
  position: fixed;

}

.navbarLogin {
  list-style-type: none;
  height: 50px;
  margin: 0;
  padding:  7px;
  padding-left: 3%;
  font-size: 27px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 16px 32px -16px rgba(0,0,0,0.2);
}

.brand {
  float: left;
  display: block;
  color: $colorFront;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.box-white {
  position: absolute;
  height: 322px;
  width: 54px;
  border-radius: 124px;
  display: inline-table;
  background-color: white;
  // opacity: 60%;
  left: 17%;
  top:-63px
}
.logoName {
  position: absolute;
  color: white;
  font-size: 55px;
  left: 30%;
  top: 200px
}
.contain-color-logo {
  position: relative;
}
.dotLo1 ,.dotLo2 ,.dotLo3, .dotLo4 {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: inline-table;
  
}
.dotLo1 {
  background-color: $pinkk;
  // opacity: 60%;
  left: 23%;
  
}
.dotLo2 {
  background-color:$bluesky;
  border-radius: 50%;
  // opacity: 50%;
  left: 30%;
}
.dotLo3 {
  background-color: #EF4E6D;
  // opacity: 10%;
  left: 37%;
}
.dotLo4 {
  background-color: #F6AF9D;
  // opacity: 30%;
  left: 44%;
}
.contain-color-logo {
  position: relative;
  // text-align:center;
 top: 30%;
 left: -2.5%;
}


.dotBG1 ,.dotBG2 ,.dotBG3, .dotBG4 {
  position: absolute;
  height: 664px;
  width: 671px;
  border-radius: 50%;
  display: inline-table;
}
.dotBG1 {
  background-color: $pinkk;
  opacity: 60%;
  left: 5%;
}
.dotBG2 {
  background-color:$bluesky;
  border-radius: 50%;
  opacity: 50%;
  left: 25%;
}
.dotBG3 {
  background-color: #EF4E6D;
  opacity: 10%;
  left: 45%;
}
.dotBG4 {
  background-color: #F6AF9D;
  opacity: 30%;
  left: 65%;
}
.form-container {
  position: relative;
  text-align:center;
 top: 65%;
 left: -2.5%;
}



.from-login  {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 75%;
  width: 400px;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
  @include transform(translate(-50%, -50%));
  
}
.inputt {
  font-family: $fontAsap;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -20px;
}
button.btnSubmit {
  font-family: $fontAsap;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 100px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: $redFire;

  
}


.psw {
  margin: -30px;
  padding-left: 3em;
}
.pswL {
  padding-left: 3px;
}


@media (min-width: 1281px) {}