@import "bourbon";
@import '@/components/Login/mixin.scss';
// @import '@/components/Login/acceptstyle.scss';
 @import '@/components/Login/forgetstyle.scss';
@import '@/components/Login/regisstyle.scss';
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$pinkk :#FFCFD2;
$orange: #f7a79d;
$bluesky : #a6d4d8; 
$colorFront : #707070;
$fontAsap: 'Asap', sans-serif;

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;
.parentbg {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // background-color: red;
  width: 100%;
  height: 100%;
  }

  
  .div1-bg { grid-area: 3 / 2 / 4 / 8; 
    // background-color: blue;
    width: 100%; }
  .div2-bg { grid-area: 2 / 8 / 5 / 12; 
    // background-color: green;
    width: 100%; }
  .div2-bg-regis { grid-area: 2 / 8 / 5 / 12; 
    // background-color: red;
    width: 100%; }
 
  .div1-dot { grid-area: 4 / 2 / 6 / 12;
    // background-color: violet;
    width: 100%; }  


    .parentlogo {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      // background-color:slateblue;
      width: 100%;
      height: 100%;
      }
      
      .div1-lo { grid-area: 3 / 1 / 4 / 2; 
        // background-color:violet ;
        width: 100%;}
      .div2-lo { grid-area: 3 / 2 / 4 / 3; 
        // background-color:#B0DB7D;
        width: 100%;}
      .div3-lo { grid-area: 3 / 3 / 4 / 4; 
        // background-color:navy;
        width: 100%;}
      .div4-lo { grid-area: 3 / 4 / 4 / 5; 
        // background-color:darkgrey;
        width: 100%;}
      .div5-lo { grid-area: 3 / 5 / 4 / 6; 
        // background-color:aqua;
        width: 100%;}
      .div6-lo { grid-area: 3 / 6 / 4 / 7; 
        // background-color:darkolivegreen;
        width: 100%;}
      .div7-lo { grid-area: 3 / 7 / 4 / 8;
        // background-color:darkorange;
        width: 100%; }

      
              
.mainGroup {
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgb(223,168,183);
  background: linear-gradient(180deg, rgba(223,168,183,1) 0%, rgba(216,245,255,1) 100%);
  position: fixed;

}

.navbarLogin {
  list-style-type: none;
  height: 50px;
  margin: 0;
  padding:  7px;
  padding-left: 3%;
  font-size: 27px;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 16px 32px -16px rgba(0,0,0,0.2);
}

.brand {
  float: left;
  display: block;
  color: $colorFront;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.box-white {
  position: absolute;
  height: 322px;
  width: 54px;
  border-radius: 124px;
  display: inline-table;
  background-color: white;
  // opacity: 60%;
  left: 17%;
   top:33%
}
.logoName {
  position: absolute;
  color: white;
  font-size: 55px;
   top:63%;
   left: 30%;
  
}
.contain-color-logo {
  position: relative;
}
.dotLo1 ,.dotLo2 ,.dotLo3, .dotLo4 {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  // display: inline-table;
  // margin-left: 210px;
  top:40%
}
.dotLo1 {
  background-color: $pinkk;
  // opacity: 60%;
  left: 23%;
  
}
.dotLo2 {
  background-color:$bluesky;
  // border-radius: 50%;
  // opacity: 50%;
  left: 30%;
}
.dotLo3 {
  background-color: #EF4E6D;
  // opacity: 10%;
  left: 37%;
}
.dotLo4 {
  background-color: #F6AF9D;
  // opacity: 30%;
  left: 44%;
}
.contain-color-logo {
  position: relative;
  // text-align:center;
 top: 30%;
 left: -2.5%;
}


.dotBG1 ,.dotBG2 ,.dotBG3, .dotBG4 {
  position: absolute;
  height: 664px;
  width: 671px;
  border-radius: 50%;
  display: inline-table;
}
.dotBG1 {
  background-color: $pinkk;
  opacity: 60%;
  left: 1%;
}
.dotBG2 {
  background-color:$bluesky;
  border-radius: 50%;
  opacity: 50%;
  left: 25%;
}
.dotBG3 {
  background-color: #EF4E6D;
  opacity: 20%;
  left: 51%;
}
.dotBG4 {
  background-color: #F6AF9D;
  opacity: 30%;
  left: 77%;
}
.form-container {
  position: relative;
  text-align:center;
  top: 20%;
   left: -10%;
}


.btnsignIn {
  position: relative;
  overflow: hidden;
  background-color:red;
  padding: 40px 30px 30px 30px;
  top: -10%;
  left: 62.25%;
  width: 200px;
  height: 20px;
}
//login
.logoInput {
  // position: absolute;
  color: $colorFront;
  font-size: 40px;
  margin: 5% 0 0 23% ;
   
}


.from-login  {
  // overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  width: 430px;
  height: 450px;
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
  
}
.inputt-login {
  position: relative;
  font-family: $fontAsap;
  display: block;
  background: white;
  border-radius: 20px;
  width: 85%;
  height: 60px;
  border-radius: 40px;
  border: 1px solid $colorFront;
  padding: 0 0 0 20px ;
  margin: 0 0 15px 5% ;
  font-size: 15px;
}
button.btnSubmit-login {
  position: relative;
  background: $bluesky;
  font-size: 20px;
  color: white;
  width: 30%;
  height:50px;
  border-radius: 20px;
  // top: 70px;
  // left: 0%;
  margin: 5% 0 0 33%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }

  
}


.psw {
  position: relative;
  // background-color: red;
  margin-left: 7%;
  margin-bottom: 15px;
}
.pswL {
  margin: 2%;
  // background-color: yellow;
}
.btnF-singnIn {
  position: relative;
  //  grid-area: 2 / 9 / 3 / 10;
 
  background-color: white;
  width: 244px;
  height: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top:65px;
  left: -30px;
}
.btnF-singnUp {
  position: relative;
  // grid-area: 2 / 9 / 3 / 10;
  background-color: white;
  width: 244px;
  height: 39px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  left:216px;
  top:18px
  
}

.darker-btn{
  background-color: rgb(236, 236, 236);
}

.contain-btnUp-btnIn {
  position: absolute;
  width: 100%;
  // background-color:red;
   top:-20%
  
}
.btnF-singnIn p {
  margin: 0 0 0 30%;
  padding: 12px;
  font-size: 20px;
  color: $colorFront;

}
.btnF-singnUp p{
  margin: 0 0 0 30%;
  padding: 12px;
  font-size: 20px;
  color: $colorFront;

}
#alert-error-login {
  background-color: rgb(252, 199, 199);
  border: 1px solid #EF4E6D;
  color: #ff3d3d;
  width: 90%;
  margin: 15px 0 0 5% ;
  min-height: 20px;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  word-wrap: break-word;
}
// @media (min-width: 1281px) {}

.lds-wrapper{
    position: absolute;
    background-color: rgb(207, 161, 161);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.lds-dual-ring {
    position: absolute;
    display: block;
    left: 45%;
    top: 45%;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 8px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pwd-wrapper{
  display: none;
    position: absolute;
    background-color: rgb(207, 161, 161);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}