$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$pinkk :#FFCFD2;
$orange: #f7a79d;
$bluesky : #a6d4d8; 
$colorFront : #707070;
$fontAsap: 'Asap', sans-serif;

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;
*{
  margin: 0px;
  padding: 0px;
  font-family: $fontAsap; 
}
*:focus {
  outline: none;
}
// // translate
// @mixin translate ($x, $y) {
//     @include transform(translate($x, $y));
// }
// //transform origin
//   @mixin transform-origin ($origin) {
//     moz-transform-origin: $origin;
//        -o-transform-origin: $origin;
//       -ms-transform-origin: $origin;
//   -webkit-transform-origin: $origin;
//           transform-origin: $origin;
// }
//   // generic transform
// @mixin transform($transforms) {
//     -moz-transform: $transforms;
//       -o-transform: $transforms;
//      -ms-transform: $transforms;
//   -webkit-transform: $transforms;
//          transform: $transforms;
//   }
// @mixin transition($transition...) {
//     -moz-transition:    $transition;
//     -o-transition:      $transition;
//     -webkit-transition: $transition;
//     transition:         $transition;
//   }
// @keyframes rotate {
//     from { transform: rotate(0deg); }
//     from { transform: rotate(360deg); }
// }

