//Register
@import '@/components/Login/mixin.scss';
.form-popupRE {
    width: 40%;
    display: none;
    overflow: hidden;
    background-color:$orange;
    padding: 30px 10px 30px 30px;
    border-radius: 10px;
    position:fixed;
    top: 50%;
    left: 50%;
    width: 455px;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    @include transform(translate(-50%, -50%));
    @include transition(transform 300ms, box-shadow 300ms);
    &::before, &::after {
      content: '';
      position: absolute;
      width: 600px;
      height: 600px;
      border-top-left-radius: 40%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 40%;
      z-index: -1;
    }
   
    &::before {
      left: 40%;
      bottom: -130%;
      background-color: rgba($blueQueen, 0.15);
      animation: rotate 7000ms infinite linear;
    }
    
    &::after {
      left: 35%;
      bottom: -125%;
      background-color: rgba($greenSeaweed, 0.2);
      animation: rotate 3000ms infinite linear;
    }
    
  }

.form-popupRE {
        max-width: 100%;
        height: auto !important;
        margin: -165px -230px auto;
}
      
#alert-error {
        position: relative;
        background-color: red;
        width: 100%;
}