@import '@/components/Login/mixin.scss';
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$orange : #f7a79d;
$bluesky : #a6d4d8;
$fontAsap: 'Asap', sans-serif;
.navbarLogin {
  height: 50px;
  padding:  7px;
  padding-left: 3%;
  font-size: 27px;
  background-color: white;
  box-shadow: 2px 16px 32px -16px rgba(0,0,0,0.2);
}
.brand {
  display: inline;
  float: left;
  margin-top: 20px;
  margin-left: -20px;
}

//search
.container-serach {
  position: absolute;
  top:0%;
  left: 20%;
}
.content-search {
    display: inline;
    float: left;
    position:relative;
    padding:0 0 0 ;
    width: 200px;
    top: 18px;
}
.input-search {
    border-radius: 20px; 
    border-style: ridge;
    height:40px;
    margin:0;
    padding-right: 30px;
    width: 100%;
}
.input_icon {
    position:absolute;
    bottom:2px;
    right:-30px;
    width:30px;
    height:30px;
}


.contain-showName {
  height: 15px;
  background-color: $greenSeaweed;
  border-radius: 15px;
  padding: 20px;
  font-size: 22px;
  color: white;text-align: center;
  margin: 10px 10px 10px 10px;
}
.showName  {

}


//noti
.notification {
  width: 25px;
  color: #f2f2f2;
  display: flex;
  text-align: center;
  position: absolute;
  background-color: red;
  left: -30px;
  top:-8px;
  border-radius: 50px;
  font-size: 20px;
  margin: 5px;
}
.dropdown-noti {
  display: inline-block;
  position: absolute;;
  left: 80px;
  top: 15px;
}

.dropdown-content-noti {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
  width: 300px;
  
}
.dropdown-content-noti a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 20px;
}

.dropdown-content-noti a:hover {background-color: #f1f1f1;}
.dropdown-noti:hover .dropdown-content-noti {
  display: block;
  margin-left: -190px ;
}

 .dropbtn-noti {
  position: static;
  bottom: 0px;
  left:-50px;
  background-color:$orange;
  border-radius: 70px;
  width: 45px;
  height: 45px;
  border-style: none;
}

.contain-noti {
  position: absolute;
  background-color: yellow;
  top:0%;
  left:50%
}

// profile
.dropdown-profile{

  display: inline-block;
  position: absolute;
  top: 5px;
}

.dropdown-content-profile {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
  width: 300px;
  
}

.dropdown-content-profile a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 20px;
}

.dropdown-content-profile a:hover {background-color: #f1f1f1;}
.dropdown-profile:hover .dropdown-content-profile {
  display: block;
  margin-left: -190px ;
}

 .dropbtn {
  position: static;
  bottom: 0px;
  left:-50px;
  background-color:$bluesky;
  border-radius: 70px;
  width: 65px;
  height: 65px;
  border-style: none;
}
.contain-profile {
   position: absolute;
  background-color: yellow;
  top:0%;
  left:70%
}








// //home
//   .form-homeBoard  {
//     position: relative;
//       display: none;
//       overflow: hidden;
//       width: 95%;
//       height: 80%; 
//       background-color:$orange; 
//       padding: 30px 10px 30px 30px; 
//       margin-top: 1%;
//       margin-left: 1.5%;
//       border-radius: 10px; 
//       position:fixed;
//       box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
//   }

//   .parent2 {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(6, 1fr);
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
//     }
    
//     .div1-2 { grid-area: 2 / 1 / 7 / 5; }
//     .div1-x { grid-area: 2 / 1 / 3 / 2; }

//     .bghome {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       margin-top: -0px;
//       margin-left: -30px;
//     }
//  .seleHome-icon  {
//    position: fixed;
//    border-radius: 30px;
//    width: 30px;
//    height: 30px;
//    margin-top: -60px;
//    margin-left: -40px;
//    background-color:$redFire;
//  }



//  .form-postit {
//   position: relative;
//   display: none;
//   overflow: hidden;
//   width: 95%;
//   height: 80%; 
//   background-color:$orange; 
//   padding: 30px 10px 30px 30px; 
//   margin-top: 1%;
//   margin-left: 1.5%;
//   border-radius: 10px; 
//   position:fixed;
//   box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
//  }
//   .sele-icon {
//   position: fixed;
//    border-radius: 30px;
//    width: 30px;
//    height: 30px;
//    margin-top: -60px;
//    margin-left: -10px;
//    background-color:$redFire;
//   }