@import '@/components/Login/mixin.scss';
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);
$orange : #f7a79d;
$bluesky : #a6d4d8;
$pinkk :#FFCFD2;
$fontAsap: 'Asap', sans-serif;
.wrapper {
  margin-top: 3px;
}

.float-l {
  float: left;
}
.float-r {
  float: right;
}
.div-1 {
  margin-top: 14px;
  margin-left: 3%;
  padding-right: 3%;
}
.div-2 {
  display: none;
}
.div-3 {
  padding-right: 3%;
}
.div-4 {
  padding-right: 3%;
}
.div-5{
  padding-right: 3%;
}

.navbar-container {
  position: absolute;
  // opacity: 0.5;
  height: 50px;
  width: 100%;
  // background-color: rgb(230, 165, 255);
}

.navbarBorder {
  list-style-type: none;
  width: 100%;
  height: 50px;
  font-size: 27px;
  background-color: white;
  box-shadow: 2px 16px 32px -16px rgba(0,0,0,0.2);
}
.brand {
  float: left;
  display: block;
  color: $colorFront;
  font-style: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.contain-showName {
  height: 15px;
  // background-color: $greenSeaweed;
  border-radius: 15px;
  padding: 5px 0 0 10%;
  color: rgb(49, 49, 49);
  margin: 10px 10px 10px 0;
  min-width: 150px;
}
.showName  {
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  min-width: 150px;
}
hr {
  border: 0.5px solid rgb(199, 199, 199);
  opacity: 0.8;
  width: 80%;
  margin-left: 10%;
}
h5 {
  font-size: 16px;
}

//noti

.notification {
  font-size: 16px;
}

.dropdown-content-noti a:hover {background-color: #f1f1f1;}
.drop-noti:hover .dropdown-content-noti{
  display:block;
}
.drop-noti:hover .rect{
  display:block;
}
.rect{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  // right: 0px;
  top: 25px;
  width: 50px;
  height: 50px;
  transform: translate(-10%,0);
  z-index: 1;
}
.dropdown-content-noti {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  border-radius: 15px;
  top: 47px;
  width: 280px;
  // right: 0px;
  z-index: 4;
  transform: translate(-84%,0);
}
.dropdown-content-noti h3 {
  word-wrap:break-word ;
}
.dropdown-content-noti a {
  position: relative;
  color:#333333;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 20px;
  font-size: 16px;
}
 .dropbtn-noti {
  position: relative;
  background-color:$orange;
  border-radius: 100%;
  height: 44px;
  width: 44px;
  border-style: none;
  z-index: 2;
  outline: none;
  cursor: pointer;
}

.btn-T {
  align-items: center;
  position: relative;
  font-size: 20px;
  color: white;
  background: $bluesky;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  outline: 0;
  bottom: -20px;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}
.btn-F {
  left:  15px;
  align-items: center;
  position: relative;
  font-size: 20px;
  color: white;
  background: $redFire;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  outline: 0;
  bottom: -20px;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  cursor: pointer;
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
}
.center-icon {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
 .contain-btnNoti {
   position: absolute;
   margin-left: 165px ;
   margin-top: -45px;;
 }
// profile
.dropdown-profile{
  display: inline-block;
  position: absolute;
  top: 5px;
}

.dropdown-content-profile {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 4;
  border-radius: 15px;
  top: 50px;
  right: 0px;
  margin-right: 2.85%;
}

.dropdown-content-profile a {
  position: relative;
  color:$dark;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */  
}   

.dropdown-content-profile a:hover {background-color: #f1f1f1;}
.drop-profile:hover .dropdown-content-profile{
  display: block;
}
.drop-profile:hover .rect2{
  display: block;
}
.rect2{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  right: 2.85%;
  top: 25px;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.trans{
  background-color: transparent;
}
.default{
  background-color:$bluesky;
}
.dropbtn {
  position: relative;
  border-radius: 100%;
  height: 44px;
  width: 44px;
  border-style: none;
  z-index: 2;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}
.contain-profile {
  position: relative;
}

.dropbtn-chat {
  position: relative;
  background-color:$gray;
  border-radius: 100%;
  height: 44px;
  width: 44px;
  border-style: none;
  z-index: 2;
  outline: none;
  cursor: pointer;
}

.dropdown-content-chat{
  position: absolute;
  width: 650px;
  height: 500px;
  top: 101%;
  right: 3%;
  // background-color: $orange;
  // opacity: 0.5;
  z-index: 3;
}

.slide-btn{
  position: relative;
  width: 2%;
  height: 100%;
  background-color: rgb(247, 247, 247);
  border: none;
  color: rgb(180, 179, 179);
  // border-right: 1px solid rgb(219, 219, 219);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  opacity: 0.95;
  &:hover{
    background-color: rgb(238, 238, 238);
    opacity: 1;
  }
  z-index: 3;
}
.chat-board{
  position: relative;
  transition: all 0.5s ease;
  background-color: white;
  width: 0%;
  height: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 2;
}
.chat-board.show{
  width: 38%;
  height: 100%;
  opacity: 1;
}
.chat-box{
  width: 60%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.chat-brand {
  position: absolute;
  color: rgb(236, 236, 236);
  font-style: bold;
  text-align: center;
  text-decoration: none;
  top: 50%;
  width: 60%;
  transform: translate(0,-50%);
  font-size: 30px;
  cursor: default;
  z-index: 1;
}

#slide-in{
  display: block;
}
#slide-out{
  display: none;
}
#slide-in.show{
  display: none;
}
#slide-out.show{
  display: block;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.pointer{
  cursor: pointer;
}
.chat-board-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.chat-board-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
  background-color: #fefefe;
}
.chat-board-container::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #adadad;
  scrollbar-width: thin;
}
.chat-board-container h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
  margin-right: 10px;
  float: left;
}
.chat-board-container a {
  position: relative;
  color:#333333;
  text-decoration: none;
  display: block;
  padding: 20px 0 20px 5px;
  font-size: 16px;
  &:hover {background-color: #f1f1f1;}
}
.chat-board-container p{
  font-size: 14px;
  color:#666666;
}
.chat-board-wrapper{
  background-color: white;
  cursor: pointer;
}
.chat-board-msg{
  max-width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chat-board-unread{
  right: 2px;
  top: 40px;
  position: absolute;
  text-align: center;
  min-width: 20px;
  padding-top: 1px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: $blueQueen;
  border-radius: 15px;
  color: hsl(0, 0%, 99%);
}

.chat-board-container .margin-r{
  margin-right: 2px;
}

#lds {
  display: none;
}

.lds-wrapper {
  position: absolute;
  background-color: rgb(206, 206, 206);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.lds-dual-ring {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat-box-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
}

.chat-container{
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: $pinkk;
}

.chat-header{
  position: relative;
  width: 98%;
  height: 4%;
  padding-left: 2%;
  padding-top: 1%;
  background-color: #fefefe;
  border-top-right-radius: 15px;
  border-bottom: 1px solid rgb(243, 243, 243);
}
.chat-header h5{
  max-width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.chat-msg-area{
  height: 75%;
  width: 96%;
  padding-right: 2%;
  padding-left: 2%;
  background-color: #ffffff;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.chat-footer{
  height: 17.50%;
  width: 96%;
  padding: 1% 2% 2% 2%;
  background-color: #fefefe;
  border-bottom-right-radius: 15px;
  border-top: 1px solid rgb(243, 243, 243);
}

.chat-msg-area::-webkit-scrollbar {
  width: 12px;
  border-radius: 30px;
  display: block;
}
.chat-msg-area::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #dee2e2;
  scrollbar-width: thin;
  display: block;
}

.relative-msg-border {
  width: 100%;
  margin-bottom: 5px;
}

.relative-msg-border::after {
  content: "";
  clear: both;
  display: table;
}

.msg-prompt {
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  color: rgb(124, 124, 124);
  text-align: center;
  font-size: 12px;
  outline: none;
  width: 30%;
  height: 15px;
  margin-left: 35%;
  margin-bottom: 5px;
}

.msg-prompt2 {
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  color: rgb(124, 124, 124);
  text-align: center;
  font-size: 12px;
  outline: none;
  width: 40%;
  height: 15px;
  margin-left: 30%;
  margin-bottom: 5px;
}

.msg-border-min {
  min-height: 60px;
}

.user-profile-left {
  position: relative;
  overflow: hidden;
  // background-color: #a6d4d8;
  border-radius: 70px;
  width: 40px;
  height: 40px;
  border-style: none;
  float: left;
  margin-left: 12px;
  margin-right: 2px;
}

.user-profile-right {
  position: relative;
  overflow: hidden;
  // background-color: #d8a6d5;
  border-radius: 70px;
  width: 40px;
  height: 40px;
  border-style: none;
  float: right;
  margin-left: 2px;
}
.default{
  background-color:#d8a6d5;
}
.margin-left {
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

.msg-box {
  border-radius: 8px;
  border: 1px solid rgb(175, 175, 175);
  max-width: 200px;
  word-wrap: break-word;
}

.msg-msg {
  font-size: 15px;
  margin: 5px 5px 5px 5px;
  white-space: pre-wrap;
}

.relative-msg-border b{
  font-size: 15px;
}
.btn-wrapper {
  position: relative;
  width: 100%;
  height: 25%;
  border-bottom: 0.5px solid #f9f9f9;
}

.msg-send-btn {
  position: absolute;
  background-color: $redFire;
  border-radius: 15px;
  width: 65px;
  height: 20px;
  border-style: none;
  right: 0px;
  outline: none;
  cursor: pointer;
}

.scroll-down {
  display: none;
  position: absolute;
  background-color: #dee2e2;
  border-radius: 15px;
  width: 65px;
  height: 20px;
  border-style: none;
  left: 0px;
  outline: none;
  cursor: pointer;
}

.n-message-btn{
  // display: none;
  position: absolute;
  font-size: 15px;
  padding-left: 5px;
  width: 80%;
  top: 76%;
  left: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #524543;
}
.b-message-btn{
  // display: none;
  position: absolute;
  top: 76%;
  left: 0px;
  background-color: rgb(221, 219, 220);
  opacity: 0.8;
  width: 100%;
  height: 4%;
}
.t-message-btn{
  // display: none;
  position: absolute;
  top: 76%;
  left: 0px;
  background-color: rgb(255, 255, 255);
  opacity: 0.1;
  width: 100%;
  height: 4%;
  cursor: pointer;
}

.input-box-msg {
  position: relative;
  width: 100%;
  height: 75%;
  border: #dee2e2;
  // background-color: #dee2e2;
  font-size: 15px;
  outline: none;
  resize: none;
}
.input-box-msg::-webkit-scrollbar {
  width: 12px;
  border-radius: 30px;
  display: none;
}
.input-box-msg::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: $bluesky;
  scrollbar-width: thin;
  display: none;
}





//profile
img.preview-profile-nav {
  width: 44px;
  height: 44px;
  top:0%;
  left: 0%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: 1;
  transition: all 0.25s ease;

}

img.preview-profile {
  width: 40px;
  height: 40px;
  top:0%;
  left: 0%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: 1;
  transition: all 0.25s ease;
}